# Redirigir errores al login
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php

# No mostrar listado de archivos
Options -Indexes

# Redirigir carpetas y archivos inexistentes al login
RewriteEngine On

# Si es una carpeta, redirige al index
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ /index.php [L,R=302]

# Si el archivo no existe, redirige al index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L]
